.body {

}

.content {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-areas:
    "list"
    "main";
}

.left-bar {
    display: grid;
    grid-template-rows: 120px 800px;
    background: #383838;

}

.title-site {
    background:#383838 ;
    height: 120px;
    width: 250px;
    position: sticky;
    top: 0px;
}

.left-menu {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    overflow-y: auto;
    position: sticky;
    top:120px;
    scrollbar-width: none;
}

.grid-menu-item {
    color: darkgray;
    height: 50px;
    padding: 15px;
    min-height: 0;
    border-bottom: 1px solid gray;
    font-size: 1.2em;
}

.main-page {
    display: grid;
    grid-template-rows: 88px auto;
    background: #CDCDCD;
}

.nav-menu {
    display: grid;
    grid-template-columns: 200px 780px  360px 300px;
    height: 41px;
    padding: 10px;
    background: white;
    border: none;
    position: sticky;
    top: 0px;
}

.search-icon {
    width: 16px;
    height: 16px;
    margin: 10px auto 10px 90% ;
}

.grid-list-films {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-left: 30px;
    gap: 20px;
}

#search-button {
    width: 89px;
    background: #E7A04E;
    border-radius: 11px;
}
#add-button{
    width: 158px;
    background: #12C584;
    border-radius: 11px;
}

.nav-menu-grid-item {
    border: none;
}

.list-film-item {
    border-radius: 11px;
}
